body {
	margin: 0px;
	padding: 0px;
}

#header-container {
	background-color: #2E3082;
	height: 100px;
	width: 100%;
}

#header {
	margin: 0px;
	height: 204px;
	width: 1024px;
}

#ToUrHomeTitle {
	float: left;
	margin-left: -30px;
	padding-left: 50px;
	padding-top: 10px;
}

img {
	border: none;
}

#UserLogin {
	float: right;
	font-family: Calibri;
	color: white;
	padding-right: 50px;
	font-size: 13px;
	padding-top: 40px;
}

#spacing {
	width: 100%;
	height: 15px;
	background-color: black;
}

/*#########################################################################################################################################################################*/

#sixthShadeOfRed {
    background-color: #D8D8D8;
    height: 372px;
    /*100%;*/
    width: 25%;
    margin-right: 0px;
    float: right;
}
#sixthShadeOfRed p {
    margin-top: 11px;
    padding-top: 10px;
    font-family: Gill Sans;
    text-align: center;
    /*text-shadow: 5px 5px 10px black;*/
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 500;
}
#sixthShadeOfRed:hover {
    background-image: url('steven.png');
    background-size: 100% 372px;
    background-repeat: no-repeat;
    -webkit-text-fill-color: transparent;
    text-shadow: none !important;
}
/*----------------------------------------------------------------------------*/

#fifthShadeOfRed {
    background-color: #E0E0E0;
    margin-right: 0px;
    height: 372px;
    /*100%;*/
    width: 25%;
    float: right;
}
#fifthShadeOfRed p {
    padding-top: 30px;
    font-family: Gill Sans;
    /*text-shadow: 5px 5px 10px black;*/
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
}
#fifthShadeOfRed:hover {
    background-image: url('helen.png');
    background-size: 100% 372px;
    background-repeat: no-repeat;
    -webkit-text-fill-color: transparent;
    text-shadow: none !important;
}
/*----------------------------------------------------------------------------*/

#fourthShadeOfRed {
    background-color: #E8E8E8;
    margin-right: 0px;
    height: 372px;
    /*100%;*/
    width: 25%;
    float: right;
}
#fourthShadeOfRed p {
    padding-top: 10px;
    font-family: Gill Sans;
    /*text-shadow: 5px 5px 10px black;*/
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 500;
}
#fourthShadeOfRed:hover {
    background-image: url('charlie.png');
    background-size: 100% 372px;
    background-repeat: no-repeat;
    -webkit-text-fill-color: transparent;
    text-shadow: none !important;
}
/*----------------------------------------------------------------------------*/

#thirdShadeOfRed {
    background-color: #F0F0F0;
    margin-right: 0px;
    height: 372px;
    /*100%;*/
    width: 25%;
    float: right;
}
#thirdShadeOfRed p {
    margin-top: 31px;
    padding-top: 30px;
    font-family: Gill Sans;
    /*text-shadow: 5px 5px 10px black;*/
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 500;
}
#thirdShadeOfRed:hover {
    background-image: url('charlie.jpeg');
    background-size: 100% 372px;
    background-repeat: no-repeat;
    -webkit-text-fill-color: transparent;
}
/*----------------------------------------------------------------------------*/

#blackBorder {
    background-color: #000000;
    margin-right: 0px;
    height: 15px;
    /*100%;*/
    width: 100%;
    float: right;
    position: relative;
    bottom: 0px;
}

#blueBorder {
	background-color: #2E3082;
	height: 150px;
	width: 100%;
	position: relative;
	bottom: 0px;
	float: right;
}
