body {
	margin: 0px;
	padding: 0px;
}

#header-container {
	background-color: #2E3082; /*Sets the background container to be black*/
	height: 100px; /*Sets the height of the container to 180 pixels*/
	width: 100%; /*Sets the width of the container to 100%*/
}

#header {
	margin: 0px; /*Centers the header inside the header-container!!!!!!!!*/
	height: 204px;
	width: 1024px;
}

#ToUrHomeTitle {
	float: left;
	margin-left: -30px;
	padding-left: 50px;
	padding-top: 10px;
}

img {
	border: none;
}

#UserLogin {
	float: right;
	font-family: Calibri;
	color: white;
	padding-right: 50px;
	font-size: 13px;
	padding-top: 40px;
}

#spacing {
	width: 100%;
	height: 15px;
	background-color: black;
}

#aboutHeader {
	background: url("aboutBackground.png");
	width: 100%;
	height: 100%;
	font-family: Verdana;
}

#whatIs {
	color: #D4D4D4;
	font-family: myriad pro;
	float: right;
	padding-right: 21%;
	font-size: 40px;
	padding-top: 2%;
	text-shadow: 0px 0px 10px black;
}

#h1Explanation {
	float: right;
	margin-top: 1%;
	color: #DCDCDC;
	padding-left: 50%;
	padding-right: 5%;
	padding-top: 0%;
	font-size: 12px;
	padding-bottom: 3%;
	text-shadow: 0px 0px 6px black
}

#blackBorder {
    background-color: #000000;
    margin-right: 0px;
    height: 15px;
    /*100%;*/
    width: 100%;
    float: right;
    position: relative;
    bottom: 0px;
}

#blueBorder {
	background-color: #2E3082;
	height: 160px;
	width: 100%;
	position: relative;
	bottom: 0px;
	float: right;
}