body {
	margin: 0px;
	padding: 0px;
}

#header-container {
	background-color: #2E3082; /*Sets the background container to be black*/
	height: 100px; /*Sets the height of the container to 180 pixels*/
	width: 100%; /*Sets the width of the container to 100%*/
}

#header {
	margin: 0px; /*Centers the header inside the header-container!!!!!!!!*/
	height: 204px;
	width: 1024px;
}

#ToUrHomeTitle {
	float: left;
	margin-left: -30px;
	padding-left: 50px;
	padding-top: 10px;
}

img {
	border: none;
}

#registrationLogo {
	font-family: Uberlin Bold;
	float: right;
	padding-right: 75px;
	color: white;
	padding-top: 19px;
	font-size: 50px;
}

#couch {
	margin-left: 125px;
}

#spacing {
	width: 100%;
	height: 15px;
	background-color: black;
}

#center {
	background: white;
	height: 375px;
	width: 100%;
}

#table {
	float: right;
	margin-right: 17%;
	margin-top: 7%;
}

#submit {
	float: right;
	margin-top: 20%;
	margin-left: 5%
}

#secondSpacer {
	width: 100%;
	height: 15px;
	background-color: black;
}

#bottom {
	width:100%;
	height: 150px;
	background-color: #2E3082;
}